body {
  margin: 0;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  
}

li {
  margin: 0px 40px;
  list-style-type: none;

}

#welcome-section {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(8, 8, 49, 1);
  color: rgba(255, 255, 255, 0.7);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(8, 8, 49, 1);
}

.something {
  background-color: blanchedalmond;
  height: 90vh;
}